{
    "openapi": "3.1.0",
    "info": {
        "title": "Photron",
        "summary": "A server to manage resources splitting into chunks for parallel download",
        "version": "0.0.0"
    },
    "servers": [
        {
            "url": "https://photron.hexag0n.app",
            "description": "Production server"
        }
    ],
    "tags": [
        {
            "name": "Crosscutting",
            "description": "Operation related to a crosscutting actions"
        },
        {
            "name": "Files",
            "description": "Operation related to files"
        },
        {
            "name": "Folders",
            "description": "Operation related to folders"
        },
        {
            "name": "Photos",
            "description": "Operation related to photos"
        },
        {
            "name": "Tags",
            "description": "Operation related to tags"
        },
        {
            "name": "Users",
            "description": "Operation related to users" 
        }
    ],
    "paths": {
        "/health-check": {
            "$ref": "./crosscutting/health-check/paths/health-check.path.json"
        },
        "/files": {
            "$ref": "./file/paths/files.path.json"
        },
        "/files/{uuid}": {
            "$ref": "./file/paths/file.path.json"
        },
        "/folders": {
            "$ref": "./folder/paths/folders.path.json"
        },
        "/folders/{uuid}": {
            "$ref": "./folder/paths/folder.path.json"
        },
        "/photos": {
            "$ref": "./photo/paths/photos.path.json"
        },
        "/photos/{uuid}": {
            "$ref": "./photo/paths/photo.path.json"
        },
        "/tags": {
            "$ref": "./tag/paths/tags.path.json"
        },
        "/tags/{uuid}": {
            "$ref": "./tag/paths/tag.path.json"
        }
    },
    "components": {
        "schemas": {
            "id-request.model": {
                "$ref": "./common/id-request.model.json"
            }
        }
    }
}